<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	
	<context:component-scan base-package="com.atguigu.serviceImpl"></context:component-scan>
	
	<context:property-placeholder location="classpath:dbconfig.properties" />
	
	<bean class="com.alibaba.druid.pool.DruidDataSource" id="dataSource">
		<property name="url" value="${db.url}"></property>
		<property name="username" value="${db.username}"></property>
		<property name="password" value="${db.userpwd}"></property>
		<property name="driverClassName" value="${db.driverClassName}"></property>
	</bean>

	<!-- <bean id="solrServer" class="org.apache.solr.client.solrj.impl.HttpSolrServer">
		<constructor-arg index="0" value="http://192.168.184.134:8080/solr/demo_core"></constructor-arg>
	</bean> -->
	
	<!-- 整合mybatis -->
	<bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 全局配置文件的位置 -->
		<property name="configLocation" value="classpath:mybatis-config.xml"></property>
		<property name="dataSource" value="#{dataSource}"></property>
	</bean>
	
	<!-- 扫描所有的dao接口即可  -->
	<!-- <mybatis-spring:scan base-package="com.atguigu.scw.dao"/> -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.atguigu.mapper"></property>
	</bean>
	
</beans>
